@media screen and (max-width: 800px) {
	.left, .main, .right {
	  width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
	}
  }

  @media screen and (max-width: 600px) {
	/* Adjust the styling for polaroid elements for screens with a maximum width of 600px */
	.polaroid {
	display: block; /* Change the display property to "block" to make them stack */
	width: 100%; /* Make polaroid elements take up the full width */
	margin-bottom: 20px; /* Add some bottom margin for spacing */
	}
  }

@media screen and (max-width: 768px) {
  }

  @media (min-width: 600px) {
	.navbar-nav {
	margin-left: auto;
	border: 3px solid #e3ed80;
	}
  }


@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.polaroidworks {
	margin-bottom: 100px;
}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px 0 5px 0;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .containercard {
	padding: 2px 16px;
  }

body {
	background-color: #fffcee;
	font-family: "RajdHami", sans-serif;
	color: #7db3a5;
	margin-left: 1in;
	margin-right: 1in;
	background: #fffcee;
	line-height: 16px;
	padding: 1em;
  }
  
  .parastyles {
	color: #7db3a5;
	font-family: Urbanist;
	font-size: 16px;
  }

  .parastyles2 {
	color: #e09186;
	font-family: Urbanist;
	font-weight: 300;
  }
  
  .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
  }
  
  .button-container {
	display: flex;
	justify-content: center;
  }
  
  .button {
	padding: 12px 35px;
	background-color: #e09186;
	font-size: 17px;
	font-weight: 500;
	color: #fffcee;
	border: 1px solid;
	border-color: #b9da6e;
	border-radius: 8px;
	box-shadow: 0 0 0 #2c2c2c8c;
	transition: all .3s ease-in-out;
	cursor: pointer;
	margin: 0 0 0 200;
  }
  
  
  
  .nav-link:link {
	font-family: "Josefin Sans";
	color: #7db3a5;
	font-size: 30px;
	border: 3px solid #e3ed80;
  }
  
  .nav-link:visited {
	color: #b9da6e;
  }
  
  .logo {
	width: 100%;
	height: 100%;
  }

  .spantitle {
	font-family: "Luckiest Guy";
	font-size: 24px;
	color: #7db3a5;
	text-decoration: underline;
  }
  
  .nav-link:hover {
	color: #9ca8b0;
  }
  
  .nav-link:active {
	color: #000;
  }
  
  .bg-custom {
	color: #fffcee;
  }
  
  .service-item {
	box-shadow: 0 0 45px #fffcee;
	transition: .5s;
  }
  
  .about i,
  .service-item i {
	background-image: linear-gradient(var(--primary), var(--secondary));
	background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: .5s;
  }
  
  .service-item:hover {
	color: var(--light);
	background: var(--primary) !important;
  }
  
  .service-item:hover i {
	background-image: linear-gradient(var(--light), var(--secondary));
  }
  
  .service-item:hover h4 {
	transition: .5s;
  }
  
  .service-item:hover h4 {
	color: var(--light);
  }
  
  .vertical-rule {
	border-left: 2px solid #7db3a5;
	height: 100%;
	margin: 0 20px;
  }
  
  .retroheader {
	width: 100%;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: -10%;
  }
  
  .retrorule {
	width: 800px;
	height: auto;
  }
  .img {
	text-align: center;
	margin-left: 25%;
	margin-right: auto;
  }
  
  .img2 {
	height: 200px;
	width: auto;
	margin: 0 0 0 48%;
  }

  .img3 {
	height: 200px;
	width: auto;
  }
  
  .container2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 30px 37px;
	grid-auto-flow: row;
  }
  
  .\<img-class\=\"img-fluid\"-src\=\"pictwo\.jpg\"\> {
	grid-area: 1 / 1 / 2 / 2;
  }
  
  .logoheader {
	grid-area: 1 / 1 / 2 / 2;
  }
  
  .horizontalruler {
	grid-area: 2 / 1 / 3 / 2;
  }
  
  .horizontalrule {
	height: 10px;
	border: none;
	position: relative;
	background: #9ca8b0;
  }
  
  .h1style {
	text-align: center;
	padding-top: 50px;
	color: #7db3a5;
	margin-bottom: 1.5rem;
  }
  
  .h1left {
	text-align: left;
	color: #7db3a5;
  }
  
  .h2style {
	color: #7db3a5;
	font-family: Lilita One;
	font-size: 24px;
	text-align: center;
	padding: 30px;
  }
  
  .h2values {
	font-size: 30px;
	color: #7db3a5;
	font-family: "Red Hat Display";
	font-weight: bold;
	line-height: 60px;
  }
  
  .aboutparagraph {
	font-size: 24px;
	font-family: 'Zilla Slab';
	line-height: 30px;
  }
  
  .paragraphs {
	color: #7db3a5;
	font-family: "Urbanist";
	font-size: 16px;
  }
  
  .fontheadings {
	color: #7db3a5;
	font-weight: bold;
	font-family: "Lilita One";
	text-align: center;
	padding-bottom: 50px;
  }
  
  .display-5 {
	text-align: center;
	color: #fffcee;
	background-color: #7db3a5;
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
  }
  
  .display-6 {
	font-size: 1.25rem; /* Adjust the font size as needed */
  }
  
  .custom-bg-color {
	background-color: #7db3a5; /* Replace #ffcc00 with your desired color code */
  }

  .divider {
    max-width: 100%; /* Ensure the divider doesn't exceed the width of its container */
    width: 80%; /* Set the initial width to 80% of its container */
    height: auto; /* Allow the height to adjust proportionally */
    margin-top: 100px;
    margin-bottom: 50px;
}

/* Adjust the divider size for smaller screens */
@media screen and (max-width: 768px) {
    .divider {
        width: 90%; /* Reduce the width for screens up to 768px wide */
    }
}

@media screen and (max-width: 480px) {
    .divider {
        width: 95%; /* Further reduce the width for screens up to 480px wide */
    }
}

.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px){
	.responsive {
	  width: 49.99999%;
	  margin: 6px 0;
	}
  }
  
  @media only screen and (max-width: 500px){
	.responsive {
	  width: 100%;
	}
  }

.dropdown-content {
	right: 0;
  }

  /* Style The Dropdown Button */
.dropbtn {
	background-color: #fffcee;
	padding: 16px;
	font-family: "Urbanist";
	cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #fffcee;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: #7db3a5;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #b9da6e}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
	background-color: #7db3a5;
  }

  .dividerhead {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	  }
  
  .h3heading {
	color: #e09186;
	font-weight: bold;
	font-family: "Luckiest Guy";
	text-align: center;
  }

  .paragraphs2 {
	text-align: center;
	font-family: 'Urbanist';
	font-size: 18px;
	color: #7db3a5;
  }

  .ulcenter {
	text-align: center;
	font-family: "Urbanist";
	font-size: 16px;
	color: #7db3a5;
  }
  .licenter {
	text-align: center;
	font-family: "Urbanist";
	font-size: 14px;
	color: #7db3a5;
  }
  
  .h4 {
	text-align: left;
	color: #7db3a5;
  }
  
  .h4heading {
	color: #e09186;
	font-size: 300;
	font-family: "Lilita One";
	text-align: center;
  }
  
  .h5style {
	color: #7db3a5;
	font-size: 300;
	font-family: "";
  }
  
  .footer {
	background-color: #7db3a5;
	font-family: "Urbanist", bold;
	color: #fffcee;
	padding: 20px 0;
	text-align: center;
  }
  
  .footer .container {
	margin: auto;
  }
  
  .bi {
	color: #7db3a5;
	font-size: 25px;
	margin-right: 10px;
	margin-left: 10px;
  }
  
  .img-fluid {
	width: auto;
	height: auto;
	margin: 0 auto;
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  a {
	background-color: #fffcee;
	text-decoration: none;
	border-radius: .25rem;
	text-align: center;
	display: inline-block;
	transition: all .3s;
  }
  
  .custom-button {
	background-color: #e09186;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 2px;
	cursor: pointer;
	border-radius: 5px;
  }
  
  .custom-button:hover {
	background-color: #7db3a5; /* Darker red on hover */
  }
  
  .container2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 30px 37px;
	grid-auto-flow: row;
	grid-template-areas:
	  ". . .";
	padding-bottom: 40px;
  }
  
  /* Contact form section */
  * {
	box-sizing: border-box;
  }
  
  .container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
  }
  
  ul {
	color: #7db3a5;
	font-weight: 300;
	list-style: none;
	padding: 0;
  }



  .footer .row{
	width:100%;
	margin:1% 0%;
	padding:0.6% 0%;
	color: #e09186;
	font-size:0.8em;
	}
	
	.footer .row a{
	text-decoration: none;
	color: #fffcee;
	transition:0.5s;
	}
	
	.footer .row a:hover{
	color:#e09186;
	}
	
	.footer .row ul{
	width:100%;
	}
	
	.footer .row ul li{
	display:inline-block;
	margin:0px 30px;
	}
	
	.footer .row a i{
	font-size:2em;
	margin:0% 1%;
	}
	
	@media (max-width:720px){
	.footer{
	text-align:left;
	padding:5%;
	}
	.footer .row ul li{
	display:block;
	margin:10px 0px;
	text-align:left;
	}
	.footer .row a i{
	margin:0% 3%;
	}
	}
  
  .rowcenter {
	text-align: center;
	color: #e09186;
	font-family: "Urbanist";
	font-size: 20px;
  }
  
  .brand {
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
  }
  
  .brand span {
	color: #7db3a5;
  }
  
  .wrapper {
	box-shadow: 0 0 20px 0 rgba(107, 107, 107, 0.7);
	margin-top: 30px;
  }
  
  .wrapper>* {
	padding: 1em;
  }
  
  .company-info {
	background: #fffcee;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-align: center;
  }
  
  .company-info h3,
  .company-info ul {
	text-align: center;
	margin: 0 0 1rem 0;
  }
  
  .contact {
	background: rgba(156, 168, 176, .5);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
  }
  
  .contact form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
  }
  
  .contact form label {
	display: block;
  }
  
  .contact form p {
	margin: 0;
  }
  
  .contact form .full {
	grid-column: 1 / 3;
  }
  
  .contact form button,
  .contact form input,
  .contact form textarea {
	width: 100%;
	padding: 1em;
	border: solid 1px #7db3a5;
	border-radius: 4px;
  }
  
  .contact form button:hover,
  .contact form button:focus {
	background: #fffcee;
	color: #e09186;
	outline: 3px;
	transition: background-color 3s ease-out;
  }
  
  .contact form textarea {
	resize: none;
  }
  
  .contact form button {
	background: #e09186;
	border: 0;
	color: #fffcee;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
  }
  
  @media only screen and (min-width: 700px) {
	.wrapper {
	  display: grid;
	  grid-template-columns: 1fr 2fr;
	}
  
	.wrapper>* {
	  padding: 3em;
	}
  
	.company-info {
	  border-radius: 4px 0 0 4px;
	}
  
	.contact {
	  border-radius: 0 4px 4px 0;
	}
  
	.company-info h3,
	.company-info ul,
	.brand {
	  text-align: left;
	}
	/* End main contact form */
  }
  
 


  /*beginning of letter wave*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(.1, .7, 0, 1);
}

body{
    background-color: #fffcee;
}

.wrapletters{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.items{
    display: flex;
    gap: 0.4rem;
    perspective: calc(var(--index) * 35);
}

.item2{
    width: calc(var(--index) * 5);
    height: calc(var(--index) * 10);
    background-color: #7db3a5;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: grayscale(0) brightness(.8);
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
    will-change: transform, filter, rotateY, width;
}

.item2::before, .item2::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    right: calc(var(--index) * -1);
}

.item2::after{
    left: calc(var(--index) * -1);
}

.items .item2:hover{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.items .item2:hover + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: -1;
}

.items .item2:hover + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
    z-index: -2;
}

.items .item2:hover + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
    z-index: -3;
}

.items .item2:hover + * + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
    z-index: -4;
}


/*Left*/

.items .item2:has( + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item2:has( + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item2:has( + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item2:has( + * + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item2:active, .items .item2:focus {
	width: 28vw;
	filter: inherit;
	z-index: 100;
	transform: translateZ(calc(var(--index) * 10));
    margin: 0 .45vw;
}
  
  @keyframes move_wave {
	0% {
	  transform: translateX(0) translateZ(0) scaleY(1)
	}
	50% {
	  transform: translateX(-25%) translateZ(0) scaleY(0.55)
	}
	100% {
	  transform: translateX(-50%) translateZ(0) scaleY(1)
	}
  }

/*beginning of polaroids*/
 
* {
  box-sizing: border-box;
}

body {
  font-family: 'Urbanist';
  background: #fffcee;
}

.wrapper3 {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  margin-top: 50px;
}
.polaroid {
  background: #fffcee;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

.mySlides {
    display: none;
}

.mySlides:first-child {
    display: block;
}

.demo {
    cursor: pointer;
    opacity: 0.6;
}

.demo:hover {
    opacity: 1;
}

.carousel {
	margin: 25px 0 50px;
    background: #fffcee;
	position: relative;
	padding: 8px;
	box-shadow: 0 0 1px rgba(0,0,0,0.3);
}
.carousel:before, .carousel:after {
	z-index: -1; 
	position: absolute; 
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%; 
	top: 80%;
	max-width: 400px;
	background: rgba(0, 0, 0, 0.7); 
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	transform: rotate(-3deg);
}
.carousel:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.carousel .carousel-item {	
    text-align: center;
	min-height: 200px;
}
.carousel .carousel-item img {
	max-width: 100%;
    margin: 0 auto; /* Align slide image horizontally center in Bootstrap v3 */
}
.carousel-control-prev, .carousel-control-next {
	width: 27px;
	height: 54px;
	overflow: hidden;
	opacity: 1;
	margin: auto 0;
	background: none;
	text-shadow: none;
}
.carousel-control-prev span, .carousel-control-next span {
	width: 54px;
    height: 54px;
	display: inline-block;
    background: #4a4a4a;    
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
}
.carousel-control-prev span {
	margin-right: -27px;
}
.carousel-control-next span {
	margin-left: -27px;
}
.carousel-control-prev:hover span, .carousel-control-next:hover span {
	background: #3b3b3b;
}
.carousel-control-prev i, .carousel-control-next i {
    font-size: 24px;
    margin-top: 13px;
}
.carousel-control-prev {
	margin-left: -28px;
}
.carousel-control-next {
	margin-right: -28px;
}
.carousel-control-prev i {
	margin-left: -24px;
}
.carousel-control-next i {
	margin-right: -24px;
}
.carousel-indicators {
	bottom: -42px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	border-radius: 50%;
	margin: 1px 4px;
}
.carousel-indicators li {
	border: 1px solid #000;
}
.carousel-indicators li.active {
	background: #e09186;
	border-color: #7db3a5;
}
 
.price-list {
	font-weight: 600;
	font-style: normal;
	font-family: "Urbanist";
	}
	
	.price-title{
	background:none repeat scroll 0 0 #fffcee;
	border:1px solid #ddd;
	}
	.price-title h4{
	color:#e09186;
	font-family: "Lilita One";
	font-size: 20px;
	font-weight: 600;
	letter-spacing:2px;
	margin:0;
	padding:10px;
	text-align:center;
	text-transform:uppercase;
	}
	.plan-price{
	border-left:1px solid;
	border-right:1px solid;
	border-color:#ccc;
	}
	.plan-price h2{
	color:#b9da6e;
	font-size:40px;
	margin:0;
	padding:20px;
	text-align:center;
	}
	.plan-price h2 span{
	font-family: "Urbanist";
	font-size: 20px;
	font-weight: 600;
	margin-bottom:0;
	padding-right:8px;
	vertical-align:middle;
	}
	.plan-features{
	border:1px solid #ddd;
	margin:0;
	}
	.plan-features li{
	border-bottom:1px solid #ccc;
	font-size:16px;
	padding:15px 15px 15px 25px;
	}
	.plan-features li:last-child{
	border-bottom:0px solid;
	}
	.plan-link{
	border:1px solid #ddd;
	text-align:center;
	border-top:0px solid;
	}
	.plan-link a.btn-bordered{
	font-size:16px;
	letter-spacing:2px;
	margin:10px 0;
	text-transform:uppercase;
	}
	.popular {
		color: #b9da6e;
	}

	.popular .price-title{
	background-color:#7db3a5;
	}
	.popular .price-title h4{
	color:#fff;
	}
	.popular .plan-link a.btn-bordered{
	background:#7db3a5;
	color:#fff;
	}
	.popular .plan-link,.popular .plan-features li, .popular .price-title, .popular .plan-features, .popular .plan-price{
	border-color:#7db3a5;
	}
	btn-bordered{
	border-radius:0;
	margin-top:15px;
	}
	.btn-bordered{
	border:2px solid #7db3a5;
	color:#e09186;
	background:transparent;
	}
	.btn-bordered:hover{
	color:#7db3a5;
	opacity: 7;
	}
  